// Variable overrides
@import "Content/scss/chocolatey-variables";

/*Tooltips*/
.tooltip .arrow {
    position: absolute;
    display: block;
    width: 0.8rem;
    height: 0.4rem;
}

.tooltip .arrow::before {
    position: absolute;
    content: "";
    border-color: transparent;
    border-style: solid;
}

.bs-tooltip-top, .bs-tooltip-auto[x-placement^="top"] {
    padding: 0.4rem 0;
}

.bs-tooltip-top .arrow, .bs-tooltip-auto[x-placement^="top"] .arrow {
    bottom: 0;
}

.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
    top: 0;
    border-width: 0.4rem 0.4rem 0;
    border-top-color: $tooltip-bg;
}

.tooltip-inner {
    max-width: 200px;
    padding: 0.25rem 0.5rem;
    color: $white;
    text-align: center;
    background-color: $tooltip-bg;
    border-radius: 0.25rem;
}
/*Invisible Input*/
.invisible-input {
    display: none;
}

/*Transitions*/
.fade {
    transition: opacity .15s linear;

    &:not(.show) {
        opacity: 0;
    }
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height .35s ease;
}