<ul class="nav fw-bold justify-content-center align-items-center text-center border-bottom d-none d-sm-flex small lh-sm bg-theme">
    <li class="nav-item">
        <a class="nav-link" href="#benefits">
            <span class="fas fa-hand-holding-heart" alt="C4B Benefits"></span>
            <p class="mb-0">Benefits</p>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#features">
            <span class="fas fa-trophy" alt="C4B Features"></span>
            <p class="mb-0">Features</p>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#pricing">
            <span class="fas fa-credit-card" alt="C4B Pricing"></span>
            <p class="mb-0">Pricing</p>
        </a>
    </li>
    <li class="nav-item position-absolute" style="right:1rem;">
        <a class="btn btn-primary" href="@Url.RouteUrl(RouteName.ContactTrial)">Start Free Trial</a>
    </li>
</ul>