<section id="mc_embed_signup" class="bg-theme-primary border-top py-3">
    <div class="container-fluid">
        <form action="//chocolatey.us8.list-manage.com/subscribe/post?u=86a6d80146a0da7f2223712e4&amp;id=73b018498d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div class="row align-items-center justify-content-center">
                <div class="col-md-auto text-center text-md-start">
                    <h3 class="mb-0">Signup for the Newsletter!</h3>
                </div>
                <div class="col-md-3">
                    <input type="email" title="Email Address for Newsletter" class="form-control email mt-2 mt-md-0" id="mce-EMAIL" placeholder="Your e-mail address" value="" name="EMAIL" required>
                </div>
                <div style="position: absolute; left: -5000px;">
                    <input title="Invisible Field" type="text" name="b_86a6d80146a0da7f2223712e4_73b018498d" tabindex="-1" value="">
                </div>
                <div class="col-md-auto">
                    <button type="submit" class="btn btn-theme mt-2 mt-md-0 w-100" id="mc-embedded-subscribe"><strong>Subscribe</strong></button>
                </div>
            </div>
            <p class="mb-0 mt-1 text-center"><i>Be the first to know about upcoming features, security releases, and news about Chocolatey.</i></p>
        </form>
    </div>
</section>