<div id="terminal" class="card">
    <div class="card-header d-flex justify-content-end">
        <i class="fas fa-minus me-2"></i>
        <i class="far fa-square me-2"></i>
        <i class="fas fa-times"></i>
    </div>
    <div class="card-body bg-dark text-white h4 m-0 fw-normal font-monospace h-md-400">
        > choco <span data-animate="install docker-desktop,upgrade nodejs,uninstall flashplayer,search nodejs --id-starts-with,info docker-desktop">install docker-desktop</span><span class="terminal-cursor"></span>
    </div>
</div>