<li class="nav-item me-md-4">
    <button class="nav-link ps-3 ps-md-0 btn btn-link btn-collapse collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navOverview" aria-expanded="false" aria-controls="navOverview">Overview</button>
</li>
<li class="nav-item me-md-4">
    <button class="nav-link ps-3 ps-md-0 btn btn-link btn-collapse collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navProducts" aria-expanded="false" aria-controls="navProducts">Product</button>
</li>
<li class="nav-item me-md-4">
    <button class="nav-link ps-3 ps-md-0 btn btn-link btn-collapse collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navSolutions" aria-expanded="false" aria-controls="navSolutions">Solutions</button>
</li>
<li class="nav-item me-md-4">
    <button class="nav-link ps-3 ps-md-0 btn btn-link btn-collapse collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navCommunity" aria-expanded="false" aria-controls="navCommunity">Community</button>
</li>
<li class="nav-item me-md-4">
    <button class="nav-link ps-3 ps-md-0 btn btn-link btn-collapse collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navLearn" aria-expanded="false" aria-controls="navLearn">Learn</button>
</li>
<li class="nav-item me-md-4">
    <button class="nav-link ps-3 ps-md-0 btn btn-link btn-collapse collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navPartners" aria-expanded="false" aria-controls="navPartners">Partners</button>
</li>
<li class="nav-item me-md-4">
    <button class="nav-link ps-3 ps-md-0 btn btn-link btn-collapse collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navAbout" aria-expanded="false" aria-controls="navAbout">About</button>
</li>