@{
    Layout = "~/Errors/ErrorLayout.cshtml";
    Page.Title = "Error";
}

<div class="col-lg-6 mx-auto error-page">
    <div class="text-center">
        <a href="@Href("~/")"><img width="225" alt="Chocolatey Software" src="@Href("~/content/images/logo_square.svg")" /></a>
        <div class="error-show-code mt-3"></div>
        <h1 class="mt-3">Oh no, we broke something!</h1>
        <h3>You might be here because:</h3>
    </div>
    <div class="row">
        <div class="col-xl-10 mx-auto">
            <ul>
                <li>There is an error on our server and the server is "given her all she's got, captain."</li>
                <li>The system is down, the system is down, the system is down.</li>
                <li>Our name is smalls.</li>
            </ul>
            <p>
                We have logged the error and we will look into it, and make sure it doesn’t happen again. However if you keep
                seeing this page please File a bug on <a href="https://github.com/chocolatey/chocolatey.org/issues">the Chocolatey Gallery issue tracker</a>.
            </p>
        </div>
    </div>
    <h3 class="text-center mt-4 mb-3">Try Searching Again</h3>
    <p class="text-center"><small><strong>Still nothing? </strong>File a bug in <a href="https://github.com/chocolatey/chocolatey.org/issues">the Chocolatey Gallery issue tracker</a> so we can fix it.</small></p>
    <form class="ms-3 ms-md-0 search-box search-d-submit search-d-none-close" autocomplete="off" role="search" action="@Href("~/packages")" onsubmit="return submitQuery()">
        <div class="flex-grow-1">
            <input name="q" type="search" class="form-control search-input" id="searchQuery" placeholder="Search Packages" aria-label="Search Packages" value="" autofocus />
            <i class="fas fa-search" aria-hidden="true"></i>
            <span class="d-none d-md-flex search-key-container">
                <span class="badge badge-key bg-primary search-key"></span>
                <span class="badge badge-key bg-primary">k</span>
            </span>
        </div>
        <button type="submit" aria-label="Search Packages" class="btn btn-primary ms-2" title="Search Packages" value="">Search</button>
        <div class="search-help position-absolute w-100 top-100 start-0 end-0">
            <div class="arrow-up position-absolute"><div class="arrow-up-inner position-relative"></div></div>
            <div class="card card-body bg-theme mt-3 me-3 rounded d-md-flex flex-md-row justify-content-md-between border">
                <p class="mb-md-0 small"><strong>id:searchValue</strong> search by id only</p>
                <p class="mb-0 small"><strong>tag:searchValue</strong> search by tags</p>
            </div>
        </div>
    </form>
</div>

    <script type="text/javascript">
        function submitQuery() {
            window.location =  "@Href("~/packages")?q=" 
            + encodeURIComponent($("#searchQuery").val());
            return false;
        }
    </script>

