@{
    ViewBag.Title = "Chocolatey for Business Registration Form";
    Bundles.Reference("content/css/chocolatey.bundle.min.css");
    Bundles.Reference("Scripts/main");
}

<section class="container py-3 py-xl-5">
    <script type="text/javascript" src="https://form.jotform.com/jsform/91124580699162"></script>
</section>
