@{
    ViewBag.Title = "Chocolatey for Business Registration Form";
}

<section class="container py-3 py-xl-5">
    <script type="text/javascript" src="https://form.jotform.com/jsform/91124580699162"></script>
</section>
