@model CourseViewModel
@{
    ViewBag.Title = "Getting Started";
    Layout = "~/Views/Shared/NewsletterLayout.cshtml";
    Bundles.Reference("content/css/chocolatey.bundle.min.css");
    Bundles.Reference("Scripts/main");
    Bundles.Reference("Scripts/courses");
}

@Html.Partial("~/Views/Shared/_AuthenticationSubNavigation.cshtml")
<section class="py-3 py-lg-5 bg-theme-light">
    @Html.Partial("~/Views/Courses/GettingStarted/_CourseDescription.cshtml")
</section>
@Html.Partial("~/Views/Courses/_AllCourses.cshtml")